{{ define "profile_page" }}
    <!doctype html>
    <html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link rel="stylesheet" href="/static/main.css" />
            <title>Profile</title>
        </head>
        <body>
            <h1>Profile</h1>
            <p>You are logged in.</p>
            <button hx-post="/logout">Logout</button>

            <script type="module" src="/static/main.js"></script>
        </body>
    </html>
{{ end }}
